{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["chrome >= 63"],
        "node": "current"
      }
    }],
    "stage-0"
  ],
  "plugins": [
    [
      "transform-runtime",
      {
        "polyfill": false,
        "regenerator": true
      }
    ],
    "transform-object-rest-spread"
  ]
}
